<section class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Informazioni Generali
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="col-sm-4 col-md-6">
								<div class="form-group">
									<label class="col-sm-12">Codice Fiscale del valutatore</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-6">
								<div class="form-group">
									<label class="col-sm-12">Figura Professionale del valutatore</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-12">
								<div class="form-group">
									<label class="col-sm-12">Commento</label>
									<div class="col-sm-12">
										<textarea class="form-control" ng-model="" rows="4"></textarea>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Patologie ICPC	
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-4 col-md-5">
								<div class="form-group">
									<label class="col-sm-12">Codice ICPC prima patologia</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-7">
								<div class="form-group">
									<label class="col-sm-12">Gravità prima patologia	</label>
									<div class="col-sm-12">
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non presente</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Lieve</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Moderata</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Grave</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Molto Grave</span></label>
										</div>
									</div>
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-5">
								<div class="form-group">
									<label class="col-sm-12">Codice ICPC seconda patologia</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-7">
								<div class="form-group">
									<label class="col-sm-12">Gravità seconda patologia</label>
									<div class="col-sm-12">
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non presente</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Lieve</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Moderata</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Grave</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Molto Grave</span></label>
										</div>
									</div>
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-5">
								<div class="form-group">
									<label class="col-sm-12">Codice ICPC terza patologia	</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-7">
								<div class="form-group">
									<label class="col-sm-12">Gravità terza patologia</label>
									<div class="col-sm-12">
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non presente</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Lieve</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Moderata</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Grave</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Molto Grave</span></label>
										</div>
									</div>
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="col-md-12">
								<label class="col-md-12">Punteggio</label>
								<div class="col-md-5">
									<input class="form-control" type="" name="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>