<section class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						ORIENTAMENTO (1 punto per ogni risposta esatta)	
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<label>In che anno siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In che stagione siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In che mese siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In che giorno del mese siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In che giorno della settimana siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In quale stato siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In quale città (o paese) siamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>Dove si trova adesso (casa, stanza della casa,..)?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
						<div class="list-group-item">
							<label>In quale piano ci troviamo?</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								MEMORIA (1 punto por ogni parola ripetuta correttamente)
							</div>
							<div class="panel-body">
								<label>Far ripetere: casa, pane, gatto, al ritmo di uno al secondo.</label>
								<label>Successivamente se non li ricorda tutto, ripeterli tino alla memorizzazione (max 5 volte).</label>
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<div class="form-inline">
										<label>Casa</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
										<label>Pane</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
										<label>Gatto</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								ATTENZIONE E CALCOLO	
							</div>
							<div class="panel-body">
								<label>Chiedere al sogetto in esame se si ricorda i tre nomi memorizzati in precedenza, ed assegnare</label>
								<label>1 punto per ogni nome ricordato.</label>
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<div class="form-inline">
										<label>100-7</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>93-7</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>86-7</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>79-7</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>72-7</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Far ripetere la parola CARNE al contrario (assegnare 1 punto per ogni lettera correttamente posizionata)</label>
									<div class="form-inline">
										<label>ENRAC</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>0</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>1</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>2</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>3</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>4</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>5</span></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								MEMORIA (1 punto por ogni parola ripetuta correttamente)
							</div>
							<div class="panel-body">
								<label>Chiedere al sogetto in esame se si ricorda i tre nomi memorizzati in precedenza, ed assegnare</label>
								<label>-1 punto per ogni nome ricordato.</label>
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<div class="form-inline">
										<label>Casa</label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
										<label>Pane</label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
										<label>Gatto</label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								LINGUAGGIO
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<div class="form-inline">
										<label>Indicate al soggetto un orologio e chiedetegli di dirne il nome (1 punto se lo riconosce)</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>Indicate al soggetto una matita e chiedetegli di dirne il nome (1 punto se la riconosce)</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>Far ripetere: "non c'è né sé né ma che tenga" (1 punto se la ripete correttamente)</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>Date al soggeto il seguiente comando: "Prendi un foglio con la mano destra, piegalo a metà e mettilo sul tavolo (3 punti se le operazioni vengono enseguite correttamente )</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>1</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>2</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>3</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>Presentate al soggetto il foglio con la frase "Chiudi gli occhio". invitare il soggetto ad eseguire il comando indicato (1 punto se il soggetto chiude gli occhio)</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<div class="form-inline">
										<label>Chiedere al soggetto di scrivere una frase con soggetto e verbo (1 punto se la scrive)</label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
										<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						ORIENTAMENTO (1 punto per ogni risposta esatta)	
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<label>Presentare al soggetto il disegno, chiedendogli di ricopiarlo a sua volta (1 punto se sono presenti tutti gli angoli dei poligoni e la loro sovrapposizione)</label>
							<div class="form-inline">
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>No</span></label>
							</div>
							<div class="panel-body">
								<div class="" style="height: 250">           
									img
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						VALUTAZIONE	
					</div>
					<div class="list-group">
						<div class="list-group-item">
							<label>Coefficienti di aggiustamento del MMSE per classi di età e educazione nella popolazione italiana da sommare o sottrarre al punteggio grezzo del MMSE per ottenere il punteggio aggiustato (Magni et a., 1996).</label>
							<div class="form-inline">
								<label>Intervallo di età</label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>65-69</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>70-74</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>75-79</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>80-84</span></label>
								<label class="ui-radio"><input type="radio" name="" ng-model=""><span>85-89</span></label>
							</div>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Livello di educazione</th>
										<th>Aggiustamento</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Da 0 a 4 anni</td>
										<td>
											<div class="form-inline">
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+0.40</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+1.00</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+0.70</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+1.50</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+2.20</span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Da 5 a 7 anni</td>
										<td>
											<div class="form-inline">
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-1.10</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-0.70</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-0.30</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+0.40</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+1.40</span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Da 8 a 12 anni</td>
										<td>
											<div class="form-inline">
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-2.00</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>1.60</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-1.00</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>-0.30</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+0.80</span></label>
											</div>
										</td>
									</tr>
									<tr>
										<td>Da 13 a 17 anni</td>
										<td>
											<div class="form-inline">
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>2.80</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>2.30</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>1.70</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>0.90</span></label>
												<label class="ui-radio"><input type="radio" name="" ng-model=""><span>+0.30</span></label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="form-horizontal">
							<h5><b>TOTALE</b></h5>
							<h1>€/.50</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>