<section class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<label class="col-md-2">Momento di valutazione</label>
			<div class="col-md-10">
				<div class="form-inline">
					<label class="ui-checkbox"><input type="checkbox" name="" ><span>Colazione</span></label>
					<label class="ui-checkbox"><input type="checkbox" name="" ><span>Pranzo</span></label>
					<label class="ui-checkbox"><input type="checkbox" name="" ><span>Cena</span></label>
					<label class="ui-checkbox"><input type="checkbox" name="" ><span>Merenda</span></label>
					<label class="ui-checkbox"><input type="checkbox" name="" ><span>Altro</span></label>
					<input class="form-control" type="" name="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Quando mangia o beve
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<label>Problemi comportamentali	</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="a" [(ngModel)]="formData.option1" value="1"><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="b" [(ngModel)]="formData.option2" value="2"><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Utilizzo di ausili</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Lentezza ad iniziare una deglutizione e/o ritardo a deglutire (> 5")	</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Masticazione o deglutizione non coordinate - difficili - rumorose</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Deglutizioni multiple per ogni boccone</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Impacchettamento del cibo nelle guance</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Rigurgiti orali e nasali di cibo liquido</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Prolungamento del tempo del mangiare/bere</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Tosse o starnuti prima/durante/dopo l'alimentazione</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Presenza riflesso del vomito</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Presenza di xerostomia</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Presenza di pirosi</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Dopo la consumazione di cibo o bevande
							</div>
							<div class="list-group">
								<div class="list-group-item">
									<label>Sonorità della voce rauca, gorgogliante,rinofonica, velare</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Affaticamento</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
								<div class="list-group-item">
									<label>Modificazione della modalità di respirazione</label>
									<div class="form-inline">
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>Si</span></label>
										<label class="ui-checkbox"><input type="checkbox" name="" ><span>No</span></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Osservazioni
							</div>
							<div class="panel-body">
								<textarea class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>