<section class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<label class="col-md-2">Momento di osservazione</label>
				<div class="col-md-10">
					<div class="form-inline">
						<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Colazione</span></label>
						<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Pranzo</span></label>
						<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Cena</span></label>
						<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Merenda</span></label>
						<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Altro</span></label>
						<input class="form-control" type="" name="">
					</div>
				</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								Segni e sintomi	
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="col-sm-12">Residuo di cibo in bocca</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="col-sm-12">Sbavature/Scialorrea</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="col-sm-12">Tosse o starnuti durante\dopo l'alimentazione</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="col-sm-12">Difficoltà di contenimento del cibo in bocca</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-md-4">
										<div class="form-group">
											<label class="col-sm-12">Rispetto delle indicazioni dietetiche</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
												</div>
											</div>
										</div>
									</div> 
									<div class="col-sm-4 col-md-12">
										<div class="form-group">
											<label class="col-sm-12">(se Si specificare con quale alimento si è verificato l'evento)</label>
											<div class="col-sm-12">
												<textarea class="form-control"></textarea>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>