<section class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Informazioni Generali
					</div>
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="col-sm-4 col-md-6">
								<div class="form-group">
									<label class="col-sm-12">Codice Fiscale del valutatore</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-6">
								<div class="form-group">
									<label class="col-sm-12">Figura professionale del valutatore</label>
									<div class="col-sm-12">
										<input class="form-control" type="text" ng-model="">
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-md-12">
								<div class="form-group">
									<label class="col-sm-12">Commento</label>
									<div class="col-sm-12">
										<textarea class="form-control" ng-model=""></textarea>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Questionario Equilibrio	
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="list-group">
									<div class="list-group-item">
										<label>Equilibrio da seduto</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Scivola o si appoggia</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Ben fermo, sicuro</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Alzarsi dalla sedia</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Incapace se non viene aiutato</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Capace ma deve usare le braccia o si spinge avanti sulla sedia prima di alzarsi</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Capace con un unico movimento, senza aiuto delle braccia</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Tentativo di alzarsi</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Incapace se non viene aiutato</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Capace, ma deve compiere più di un tentativo</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Capace di alzarsi al primo tentativo</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Nella stazione eretta</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Instabile o si appoggia a sostegni</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Stabile ma deve mantenere i piedi divaricati; deve usare un bastone come supporto</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Stabile senza alcun supporto, capace di tenere i piedi vicini</span></label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="list-group">
									<div class="list-group-item">
										<label>Dopo una leggera spinta sullo sterno (deve tenere i piedi vicini)</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Tende a cadere, o l'esaminatore deve aiutarlo a mantenere l'equilibrio</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Barcolla, muove i piedi, si afferra ad un sostegno ma non cade</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Stabile</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Stabilità di rotazione di 360°</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Instabile, barcolla, deve afferrarsi a un sostegno</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Stabile</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Si siede</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Poco sicuro, non valuta bene le distanze, cade sulla sedia</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si aiuta con le braccia per guidarsi sulla sulla sedia</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Sicuro, movimento fluido, controllato</span></label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">

							<div class="col-md-6">
								<label class="col-md-12">Risultato Valutazione equilibrio</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>	
							</div>
							<div class="col-md-6">
								<label class="col-md-12">Risultato Valutazione equilibrio</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Questionario Andatura
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="list-group">
									<div class="list-group-item">
										<label>Partenza, da comando</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Qualche esitazione o doversi tentativi per partire</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Nessuna esitazione</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Lunghezza passo (piede dx)</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non avanza oltre il piede sinistro</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Oltrepassa il piede sinistro</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Altezza passo (piede dx)</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non alza completamente il piede da terra</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Alza completamente il piede da terra</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Lunghezza passo (piede sx)</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non avanza oltre il piede destro</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Oltrepassa il piede destro</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Altezza passo (piede sx)</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non alza completamente il piede da terra</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Alza completamente il piede da terra</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Simmetria del passo</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>La lunghezza del passo destro e sinistro non si equivalgono</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Il passo destro e sinistro sono uguali</span></label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="list-group">
									<div class="list-group-item">
										<label>Continuità del passo</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Arresti e discordanze tra passi</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Continuità del passo</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Deviazione del passo</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Deviazione significativa</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Deviazione debole o moderata o impiego del bastone</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Nessuna deviazione</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Comportamento del tronco</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Marcata oscillazione o impiego del bastone</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Nessuna oscillazione ma flette le ginocchia o muove le braccia per equilibrarsi</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Nessuna oscillazione o flessione o impiego delle braccia o del bastone</span></label>
										</div>
									</div>
									<div class="list-group-item">
										<label>Movimento del cammino</label>
										<div class="form-inline">
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Talloni distanziati</span></label>
											<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Talloni che quasi si toccano</span></label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-12">TOTALE</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>	
							</div>
							<div class="col-md-6">
								<label class="col-md-12">Risultato Valutazione dell'andatura</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Totale Complessivo	
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6">
								<label class="col-md-12">TOTALE (Equilibrio + Andatura)	</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>	
							</div>
							<div class="col-md-6">
								<label class="col-md-12">Indice di Mobilità (Valore totale)</label>
								<div class="col-md-12">
									<input class="form-control" type="" name="">
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						LEGENDA	
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-12">
								<p><b>da 0 a 1 = soggetto non deambulante</b></p>
								<p><b>da 2 a 19 = soggetto deambulante a rischio cadute</b></p>
								<p><b>da 20 a 28 = soggetto deambulante a basso rischio cadute</b></p>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>