<section class="panel panel-primary">
	<div class="panel-heading">
		Informazione generale
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-body">
						<div class="form-horizontal">
							<div class="row">
								<div class="col-sm-6 col-md-6">
									<label class="col-sm-12">Tipo valutazione</label>
									<div class="col-sm-12">
										<div class="form-inline">
											<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Ammissione</span></label>
											<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Periodica</span></label>
											<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Straordinaria</span></label>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6">
									<label class="col-sm-12">Conferma valutazione UVG al domicilio</label>
									<div class="col-sm-12">
										<div class="form-inline">
											<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Si</span></label>
											<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>No</span></label>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								MEDICAZIONI
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non necessarie</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Per ulcerazioni e distrofie cutanee</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Per catetere a permanenza o stomia</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Per ulcere da decubito</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								NECESSITÀ DI PRESTAZIONI SANITARIE
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Buona salute</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Necessità di prestazioni sanitarie (non continuative)</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Necessità di prestazioni sanitarie esterne (terapia radinate, psichiatrica, consulenza specialistica)</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Necessità di prestazioni sanitarie interne continuative a causa di patologie croniche in labile compenso con elevata necessità di tutela sanitaria (...)</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								TRATTAMENTI SPECIALISTICI
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-4 col-md-12">
										<div class="form-group">
											<label class="col-sm-12">Non necessaries</label>
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Alimentazione parenterale o idratazione per periodi superiori a 15 giorni tramite catetere venoso periferico CVP</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Alimentazione parenterale o idratazione mediante catetere venoso centrale (CVC)</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>SNG/PEG</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Tracheotomia</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Respirazione/ventilazione assistita</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Ossigenoterapia ad intervalli definiti o continuativi, non in acuzie</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Dialisi</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Trasfusioni eseguite in struttura</span></label>
													<label class="ui-checkbox"><input type="checkbox" name="" ng-model=""><span>Controllo dolore per via parenterale o sottocutanea tramite infusori elastomerici o pompe</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								CONTROLLO SFINTERICO
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-10">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Presente</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Incontinenza urinaria o fecale episodica</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Incontinenza urinaria o fecale permanente</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Incontinenza totale (urinaria e fecale)</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								DISTURBI COGNITIVI E/O COMPORTAMENTALI
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-4 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Assenti</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Disturbi cognitivi e/o comportamentali lievi e dell'umore (aspetto triste, melanconico, ansioso, chiede sempre nuovi farmaci))</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Disturbi cognitivi (non gestisce i propri compiti e necessità ma NON presenta gravi e costanti BPSD)</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Frequente/costante comportamento disturbante e/o atteggiamento aggressivo e/o violento (agitato, irrequieto, pericoloso per sè e altri)</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								DEFICIT SENSORIALI (SI CONSIDERI PREVALENTEMENTE UDITO E VISTA)
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-4 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Normale</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Deficit correggibile solo con l'aiuto di protesi e/o occhiali</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Grave deficit non correggibile</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Cecità o sordità completa</span></label>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								MOBILITÀ (LIBERTÀ DI MOVIMENTO)
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Cammina autonomamente senza aiuto</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Cammina con ausili e con aiuto programmato (o saltuario)</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Si sposta solo con l'aiuto di altre persone e con sedia a ruote</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Totalmente dipendente dagli operatori per le alzate e le mobilizzazioni</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								ATTIVITÀ DI VITA QUOTIDIANA (IGIENE PERSONALE, ABBIGLIAMENTO, ALIMENTAZIONE)
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Totalmente indipendente</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Aiuto programmato (o saltuario)</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Aiuto quotidiano necessario ma parziale</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Totalmente dipendente</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								ATTIVITÀ OCCUPAZIONALI E IMPIEGO DEL TEMPO
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-4 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Entra ed esce consapevolmente dalla residenza</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>E' motivato a svolgere attività costruttive solo all'interno della residenza</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>E' in grado di svolgere attività all'interno della residenza con lo stimolo e la supervisione di operatori</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non svolge alcuna attività (non è in grado di svolgere, si rifiuta di svolgere)</span>
													</label>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								STATO DELLA RETE FAMIGLIARE E SOCIALE (DISPONIBILITÀ RELAZIONALE, AFFETTIVA ED ASSISTENZIALE)
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Mantiene buoni e regolari rapporti con la famiglia</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non ha buoni e regolari rapporti con la famiglia ma solo con parenti e amici</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Parenti amici e volontari sono disponibili solo in caso di bisogno: problemi sanitari, pratiche burocratiche, difficoltà economiche, disagi assistenziali, etcc</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Può contare solo sull'aiuto istituzionale</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								FUNZIONI DEL LINGUAGGIO E DELLA COMUNICAZIONE
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<div class="col-sm-12">
												<div class="form-inline">
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Comprende e si esprime normalmente</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Linguaggio menomato ma esprime comunque il suo pensiero</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Comprende solo ordini semplici, non riesce ad esprimere con coerenza il suo pensiero</span></label>
													<label class="ui-radio"><input type="radio" name="" ng-model=""><span>Non comprende, non si esprime</span></label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<label class="col-sm-2">PUNTEGGIO</label>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<span class="control-label"><h1>20</h1></span>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>